@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

main{
    font-family: "Manrope";
}

.flex{
    display: flex;
}

.gap-xs{
    gap: .5em;
}

.gap-sm{
    gap: .8em;
}

.gap-md{
    gap: 1.3em;
}

.direction-column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.highligth{
    color: #3818FA;
}

.container{
    margin: 0 auto;
    max-width: 70rem;
    width: 90%;
}